
  /**********************************/
#aboutMeRows{
      font-family:'Source Code Pro', monospace;
      padding:100px;
}

#abouth1, #homeName, #sayhi{
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    text-align:left;
}

#aboutMeSection{
    background:#36454F;
    border: 1px solid black;
    color:white;
}

#bird-video{
    width:100%;
    height:320px;
  
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape  for navbar */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio:2) 
{ 
    #bird-video{
        height:220px;
    }
    
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    #bird-video{
        height:230px;
    }
    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    #bird-video{
        height:220px;
    }
    
}


#bottom2{
    text-align:center;
}

#buttonColor{
    text-align: center;
    color:white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;

}

#collapseOne, #collapseTwo, #collapseThree{
    background:#36454F;
}

#copyright{
    color: white;
}

#contactSection2{
    background: #36454F; 

    padding: 25px;
    line-height: 15px;
    border:1px solid;
}

#center{
    margin:auto;
    max-width: 300px;
}

#email{
    font-family: 'Source Code Pro', monospace;
    font-size:13px;
    color:black;
}

#emailLink{
    font-family: 'Source Code Pro', monospace;
  
}

#firebase{
    width:100px;
    height:100px;
}

#fontish{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

#headingOne, #headingTwo, #headingThree{
    background:rgb(119, 151, 173)

}

#home{
    background:#36454F;
    padding:3%;
    border: 1px solid;
}

h1{
      text-align:center;
}


#homeSection{
    /* height is related to max-height and padding */
    max-width: 75%;
    max-height:100%;
    padding: 5%;

    border-radius: 50%;
    background:white;
    color:black;
    overflow:auto;
    border:1px solid;

    display:flex;
    align-items: center;
    justify-content: center;
}

#homePic{
    max-height: 75%;
    max-width: 75%;


}

#homeName{
    text-align: center;
}

#last2{
    text-align:right;
}


@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
{ 
    #homeName{
        font-size: 100%;
    }
    #sayhi{
        font-size:100%;
    }
    #logos{
        font-size:100%;
    }
    #homePic{
        height: 60%;
        width: 60%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio:2) 
{ 
    #homeName{
        font-size: 100%;
    }
    #sayhi{
        font-size:100%;
    }
    #logos{
        font-size:100%;
    }
    #homePic{
        height: 60%;
        width: 60%;
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    #homeName{
        font-size: 100%;
    }
    #sayhi{
        font-size:100%;
    }
    #logos{
        font-size:100%;
    }
    #homePic{
        height: 60%;
        width: 60%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    #homeName{
        font-size: 100%;
    }
    #sayhi{
        font-size:100%;
    }
    #logos{
        font-size:100%;
    }
    #homePic{
        height: 60%;
        width: 60%;
    }
}

/* so navbar is flexed for the container but we have to "re-flex"
    for the items since that is under another div */
.Navbar{
    font-family: 'Source Code Pro', monospace;
    display:flex;
    background-color: white;
    padding:16px;
    color:black;
   
}
.Navbar_Items{
    display:flex;
}
.Navbar_Link{
    padding-right: 8px;

}
.Navbar_Link_toggle{
    display:none;

}

/* for smaller screen */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
{ 
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
/* to remove real estate when screen is small */
    .Navbar_Items{
        display:none;
    }
    .Navbar_Link_toggle{
        display:initial;
        position: absolute;
        cursor: pointer;
        align-self: flex-end;
    
    }
    .Navbar_ToggleShow{
        display:flex;
    }
    
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape  for navbar */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-device-pixel-ratio:2) 
{ 
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
/* to remove real estate when screen is small */
    .Navbar_Items{
        display:none;
    }
    .Navbar_Link_toggle{
        display:initial;
        position: absolute;
        cursor: pointer;
        align-self: flex-end;
    
    }
    .Navbar_ToggleShow{
        display:flex;
    }
    
}

/* ----------- iPhone 6+, 7+, 8+ ----------- */

/* Portrait and Landscape  for navbar */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
/* to remove real estate when screen is small */
    .Navbar_Items{
        display:none;
    }
    .Navbar_Link_toggle{
        display:initial;
        position: absolute;
        cursor: pointer;
        align-self: flex-end;
    
    }
    .Navbar_ToggleShow{
        display:flex;
    }
    
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape  for navbar */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-device-pixel-ratio:3) 
{ 
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
/* to remove real estate when screen is small */
    .Navbar_Items{
        display:none;
    }
    .Navbar_Link_toggle{
        display:initial;
        position: absolute;
        cursor: pointer;
        align-self: flex-end;
    
    }
    .Navbar_ToggleShow{
        display:flex;
    }
    
}
#projects{
    color:#36454F;
    overflow:hidden;
}
#projectSection{
    background:#36454F;
    color: white;
    border: 1px solid;
    font-family: 'Source Code Pro', monospace;
   }

#projectFiles{
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: stretch;

}

#quotes{
    background:white;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding-top: 15vh;
    text-align: center;
    height:40vh;
}

#sayhi{
      text-align: center;

}

#section1{
    background-image:url("../images/background1.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    height:25vh;
    width: 100vw;
}

#sleeve{
    width:100%;
    height:100%;
    border: 3px solid black;
    
    
}

#skillsSection{
    border: 1px solid black;
    background:white;
    font-family: 'Source Code Pro', monospace;
    padding:100px;
  
}

span{
      font-size:75px;
}

#symbols{
    font-size:50px;
}

#whiteSpace{
      background:white;
      position:relative;
      height:15vh;
      width: 100vw;
}


  







