
  /**********************************/

  #aboutMeRows{
      font-family:'Source Code Pro', monospace;
      padding:100px;
  }
  #abouth1, #homeName, #sayhi{
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    text-align:left;
  }

  #fontish{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
  }

  #sayhi{
      text-align: left;

  }
  #section12{
  
      /**
      background-image:url("../images/background1.jpg");
      background-repeat:none;
      background-attachment:fixed;
      background-size:cover;
      **/
      background:white;
      position:relative;
      height:15vh;
      width: 100vw;
  }

  #quotes{
    background:white;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding-top: 15vh;
    text-align: center;
    height:40vh;
  }

  

  #section1{

    background-image:url("../images/background1.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    height:25vh;
    width: 100vw;
}


#aboutMeSection{
    background:#36454F;
    border: 1px solid black;
    color:white;
}

#home{

    /**background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;**/
    background:#36454F;
    border: 1px solid;
}

  h1{
      text-align:center;
  }



  #skillsSection{
    border: 1px solid black;
    background:white;
    font-family: 'Source Code Pro', monospace;
    padding:100px;


  
  }

  #homeSection{
    background:white;
    color:black;

    border-radius:2000px;
 
    padding: 50px;

    overflow:auto;
    border:1px solid;
  }


  #projectSection{
    background:#36454F;
    color: white;
    border: 1px solid;
    font-family: 'Source Code Pro', monospace;
   }
 
   #projectFiles{
    padding:50px;
   }

  #bottom2{
    text-align:center;
  }
  #last2{
    text-align:right;
  }

  span{
      font-size:75px;
  }

/* for the box testing*/
.box{
    width: 400px;
    height: 400px;
    background-color:red;
    margin:150px auto;

}

#homePic{
    height: 400px;
    width: 250px;
    text-align:left;

}

#symbols{
    font-size:50px;
}
#logos{
    text-align:left;
    size: 40px;

}

#buttonColor{
    text-align: center;
    color:white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;

}

#collapseOne, #collapseTwo, #collapseThree{
    background:#36454F;
}

#headingOne, #headingTwo, #headingThree{
    background:rgb(119, 151, 173)

}

#email{
    font-family: 'Source Code Pro', monospace;
    font-size:13px;
    color:black;
}
#emailLink{
    font-family: 'Source Code Pro', monospace;
  
}

#copyright{
    color: white;
}
#contactSection2{
    background: #36454F; 

    padding: 25px;
    line-height: 15px;
    border:1px solid;
}

#center{
    margin:auto;
    max-width: 300px;
}