
  /**********************************/

  #aboutMeRows{
      font-family:'Source Code Pro', monospace;
      padding:100px;
  }
  #abouth1, #homeName, #sayhi{
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    text-align:left;
  }

  #fontish{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
  }

  #sayhi{
      text-align: left;

  }
  #section12{
      opacity:.9;
      /**
      background-image:url("../images/background1.jpg");
      background-repeat:none;
      background-attachment:fixed;
      background-size:cover;
      **/
      background:white;
      position:relative;
      height:25vh;
      width: 100vw;
  }

  #quotes{
    background:white;
    height:25vh;
  }

  #section1{

    background-image:url("../images/background1.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    height:25vh;
    width: 100vw;
}


#aboutMeSection{
    background:white;
    border: 1px solid black;
}

#home{
    opacity:.85;
    /**background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;**/
    background:#36454F;
    border: 1px solid;
}

  h1{
      text-align:center;
  }



  #skillsSection{
    border: 1px solid black;
    background:white;
    font-family: 'Source Code Pro', monospace;
    padding:100px;


  
  }

  #homeSection{
    background:white;
    color:black;
    opacity: .85;
    border-radius:1000px;
    padding:100px;
    overflow:auto;
    border:1px solid;
  }


  #projectSection{
    background:lightyellow;
    border: 1px solid;
    font-family: 'Source Code Pro', monospace;
   }
 
   #projectFiles{
    padding:50px;
   }

  #bottom2{
    text-align:center;
  }
  #last2{
    text-align:right;
  }

  span{
      font-size:75px;
  }

/* for the box testing*/
.box{
    width: 400px;
    height: 400px;
    background-color:red;
    margin:150px auto;

}

#homePic{
    height: 400px;
    width: 300px;

}

#symbols{
    font-size:50px;
}
#logos{
    text-align:left;
    size: 40px;;

}

#buttonColor{
    text-align: center;
    background:lightyellow;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;

}

#email{
    font-family: 'Source Code Pro', monospace;
    font-size:13px;
    color:black;
}
#emailLink{
    font-family: 'Source Code Pro', monospace;
    color:black;
}

#contactSection2{
    background: lightyellow; 
    padding: 25px;
    line-height: 15px;
    border:1px solid;
}

#center{
    margin:auto;
    max-width: 300px;
}